@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import "./Variable.scss";

.whole {
   display: flex;
   flex-direction: row;
   height: 100vh;
   width: 100wh;
}
.firstSide {
   width: 60%;
   display: flex;
   flex-direction: column;
}

.icon {
   width: fit-content;
   height: 36px;
   margin-top: 96px;
   margin-left: 102px;
}
.big-icon {
   margin-top: 85px;
}

.page {
   width: 40vw;
   padding-left: 100px;
   padding-right: 157px;
   display: flex;
   flex-direction: column;
   padding-top: 190px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.welcometext {
   font-family: "Montserrat", sans-serif;
   color: $primary;
   font-size: 3rem;
   font-weight: 600;
}
.enter {
   font-family: "Montserrat", sans-serif;
   color: $primary;
   opacity: 67%;
   margin-top: -10px;
}
.email {
   border: 2px solid rgba(84, 95, 125, 0.15);
   border-radius: 5px;
   width: 100%;
   padding: 2px 10px;
   height: 35px;
   font-size: 1rem;
//    color: #39cdcc;
   font-family: "Montserrat", sans-serif;
   margin-bottom: 32px;
   margin-top: 30px;
}
// .email:hover {
//    border: 2px solid  #9ab1df;
// }

.email input:focus {
   border: none !important;
   outline: none !important;
}
.login {
   width: calc(100% + 24px);
   background-color: $secondary;
   border: none;
   font-size: 1rem;
   color: #fff;
   font-family: "Montserrat", sans-serif;
   height: 35px;
   border-radius: 5px;
   margin-top: 32px
}
.login:hover{
    background-color: #ebf1f1;
    color: $primary;
    border: 1px solid #39cdcc;

}
.forgot{
    color: $secondary;
       font-family: "Montserrat", sans-serif;
       font-weight: 600;
font-size: 12px;

}